<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="navbar-left">
      <%= image_tag "cocktail.jpg", alt: "Cocktail", class: "logo" %>
      <h1>Them Cocktails</h1>
      </div>
      <div class="navbar-right">
        <% unless controller_name == "cocktails" && action_name == "new" %>
          <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-create-cocktail" %>
        <% end %>
        <% unless controller_name == "cocktails" && action_name == "index" %>
          <%= link_to "Go back to cocktails list", root_path, class: "btn btn-homepage" %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
